{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
    <main>
        <h3>добавление записи</h3>
    </main>
    <div class="features">

        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.author }}<br>
            {{ form.genre }}<br>
            {{ form.grade }}<br>
            {{ form.comment }}<br>
            <button class="btn btn-success" type="submit">готово</button>
        </form>
    </div>

    {% block asider %}
    {% endblock %}
</body>
</html>